# Dependencies
node_modules/
.next/
out/

# Environment variables
.env*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local development
.DS_Store

# Production
build
dist

# Misc
*.swp
*.swo